<header ng-switch on="$location.path().indexOf('/Etablissements/new') > -1">
    <h3 ng-switch-when="true">Create a new Etablissement</h3>
    <h3 ng-switch-when="false">View or edit Etablissement</h3>
</header>
<form id="EtablissementForm" name="EtablissementForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': EtablissementForm.nom.$invalid}">
        <label for="nom" class="col-sm-2 control-label">Nom</label>
        <div id="nomControls" class="col-sm-10">
            <input id="nom" name="nom" type="text"class="form-control" ng-model="etablissement.nom" placeholder="Enter the Etablissement Nom"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EtablissementForm.ville.$invalid}">
        <label for="ville" class="col-sm-2 control-label">Ville</label>
        <div id="villeControls" class="col-sm-10">
            <input id="ville" name="ville" type="text"class="form-control" ng-model="etablissement.ville" placeholder="Enter the Etablissement Ville"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EtablissementForm.quartier.$invalid}">
        <label for="quartier" class="col-sm-2 control-label">Quartier</label>
        <div id="quartierControls" class="col-sm-10">
            <input id="quartier" name="quartier" type="text"class="form-control" ng-model="etablissement.quartier" placeholder="Enter the Etablissement Quartier"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EtablissementForm.responsable.$invalid}">
        <label for="responsable" class="col-sm-2 control-label">Responsable</label>
        <div id="responsableControls" class="col-sm-10">
            <input id="responsable" name="responsable" type="text"class="form-control" ng-model="etablissement.responsable" placeholder="Enter the Etablissement Responsable"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EtablissementForm.email.$invalid}">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div id="emailControls" class="col-sm-10">
            <input id="email" name="email" type="text"class="form-control" ng-model="etablissement.email" placeholder="Enter the Etablissement Email"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EtablissementForm.mtn.$invalid}">
        <label for="mtn" class="col-sm-2 control-label">Mtn</label>
        <div id="mtnControls" class="col-sm-10">
            <input id="mtn" name="mtn" type="text"class="form-control" ng-model="etablissement.mtn" placeholder="Enter the Etablissement Mtn"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EtablissementForm.orange.$invalid}">
        <label for="orange" class="col-sm-2 control-label">Orange</label>
        <div id="orangeControls" class="col-sm-10">
            <input id="orange" name="orange" type="text"class="form-control" ng-model="etablissement.orange" placeholder="Enter the Etablissement Orange"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EtablissementForm.notes.$invalid}">
        <label for="notes" class="col-sm-2 control-label">Notes</label>
        <div id="notesControls" class="col-sm-10">
            <textarea id="notes" name="notes" type="text" ng-maxlength="20000"class="form-control" ng-model="etablissement.notes" placeholder="Enter the Etablissement Notes"></textarea>
            <span class="help-block error" ng-show="EtablissementForm.notes.$error.maxlength">maximum length is 20000</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveEtablissement" name="saveEtablissement" class="btn btn-primary" ng-disabled="isClean() || EtablissementForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteEtablissement" name="deleteEtablissement" class="btn btn-danger" ng-show="etablissement.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>