<div class="form-horizontal">
    <h3>Create a new Etablissement</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Etablissements/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Etablissements</h3>
    <form id="EtablissementSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="nom" class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-10">
            <input id="nom" name="nom" class="form-control" type="text" ng-model="search.nom" placeholder="Enter the Etablissement Nom"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="ville" class="col-sm-2 control-label">Ville</label>
        <div class="col-sm-10">
            <input id="ville" name="ville" class="form-control" type="text" ng-model="search.ville" placeholder="Enter the Etablissement Ville"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="quartier" class="col-sm-2 control-label">Quartier</label>
        <div class="col-sm-10">
            <input id="quartier" name="quartier" class="form-control" type="text" ng-model="search.quartier" placeholder="Enter the Etablissement Quartier"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="responsable" class="col-sm-2 control-label">Responsable</label>
        <div class="col-sm-10">
            <input id="responsable" name="responsable" class="form-control" type="text" ng-model="search.responsable" placeholder="Enter the Etablissement Responsable"></input>
        </div>
    </div>

   


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Responsable</th>
                    <th>Email</th>
                    <th>Mtn</th>
                    <th>Orange</th>
                   
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Etablissements/edit/{{result.id}}">{{result.nom}}</a></td>
                    <td><a href="#/Etablissements/edit/{{result.id}}">{{result.responsable}}</a></td>
                    <td><a href="#/Etablissements/edit/{{result.id}}">{{result.email}}</a></td>
                    <td><a href="#/Etablissements/edit/{{result.id}}">{{result.mtn}}</a></td>
                    <td><a href="#/Etablissements/edit/{{result.id}}">{{result.orange}}</a></td>
                    
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>