<header ng-switch on="$location.path().indexOf('/Eleves/new') > -1">
	<h3 ng-switch-when="true">Create a new Eleve</h3>
	<h3 ng-switch-when="false">View or edit Eleve</h3>
</header>
<form id="EleveForm" name="EleveForm" class="form-horizontal"
	role="form">
	<div ng-show="displayError" class="alert alert-danger">
		<strong>Error!</strong> Something broke. Retry, or cancel and start
		afresh.
	</div>


	<div class="form-group"
		ng-class="{'has-error': EleveForm.nom.$invalid}">
		<label for="nom" class="col-sm-2 control-label">Nom</label>
		<div id="nomControls" class="col-sm-10">
			<input id="nom" name="nom" type="text" class="form-control"
				ng-model="eleve.nom" placeholder="Enter the Eleve Nom"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': EleveForm.classe.$invalid}">
		<label for="classe" class="col-sm-2 control-label">Classe</label>
		<div id="classeControls" class="col-sm-10">
			<select id="classe" name="classe" class="form-control"
				ng-model="classeSelection"
				ng-options="c.text for c in classeSelectionList">
				<option value="">Choose a Classe</option>
			</select>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': EleveForm.etablissement.$invalid}">
		<label for="etablissement" class="col-sm-2 control-label">Etablissement</label>
		<div id="etablissementControls" class="col-sm-10">
			<select id="etablissement" name="etablissement" class="form-control"
				ng-model="etablissementSelection"
				ng-options="e.text for e in etablissementSelectionList">
				<option value="">Choose a Etablissement</option>
			</select>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': EleveForm.parent.$invalid}">
		<label for="parent" class="col-sm-2 control-label">Parent</label>
		<div id="parentControls" class="col-sm-10">
			<input id="parent" name="parent" type="text" class="form-control"
				ng-model="eleve.parent" placeholder="Enter the Eleve Parent"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': EleveForm.email.$invalid}">
		<label for="email" class="col-sm-2 control-label">Email</label>
		<div id="emailControls" class="col-sm-10">
			<input id="email" name="email" type="text" class="form-control"
				ng-model="eleve.email" placeholder="Enter the Eleve Email"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': EleveForm.mtn.$invalid}">
		<label for="mtn" class="col-sm-2 control-label">Mtn</label>
		<div id="mtnControls" class="col-sm-10">
			<input id="mtn" name="mtn" type="text" class="form-control"
				ng-model="eleve.mtn" placeholder="Enter the Eleve Mtn"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': EleveForm.orange.$invalid}">
		<label for="orange" class="col-sm-2 control-label">Orange</label>
		<div id="orangeControls" class="col-sm-10">
			<input id="orange" name="orange" type="text" class="form-control"
				ng-model="eleve.orange" placeholder="Enter the Eleve Orange"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': EleveForm.profession.$invalid}">
		<label for="profession" class="col-sm-2 control-label">Profession</label>
		<div id="professionControls" class="col-sm-10">
			<input id="profession" name="profession" type="text"
				class="form-control" ng-model="eleve.profession"
				placeholder="Enter the Eleve Profession"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': EleveForm.residence.$invalid}">
		<label for="residence" class="col-sm-2 control-label">Residence</label>
		<div id="residenceControls" class="col-sm-10">
			<input id="residence" name="residence" type="text"
				class="form-control" ng-model="eleve.residence"
				placeholder="Enter the Eleve Residence"></input>
		</div>
	</div>


	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="saveEleve" name="saveEleve" class="btn btn-primary"
				ng-disabled="isClean() || EleveForm.$invalid" ng-click="save()">
				<span class="glyphicon glyphicon-ok-sign"></span> Save
			</button>
			<button id="cancel" name="cancel" class="btn btn-default"
				ng-click="cancel()">
				<span class="glyphicon glyphicon-remove-sign"></span> Cancel
			</button>
			<button id="deleteEleve" name="deleteEleve" class="btn btn-danger" ng-show="eleve.id" ng-click="remove()">
				<span class="glyphicon glyphicon-trash"></span></button>
		</div>
	</div>
</form>