<header ng-switch on="$location.path().indexOf('/Exercices/new') > -1">
    <h3 ng-switch-when="true">Create a new Exercice</h3>
    <h3 ng-switch-when="false">View or edit Exercice</h3>
</header>
<form id="ExerciceForm" name="ExerciceForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': ExerciceForm.annee.$invalid}">
        <label for="annee" class="col-sm-2 control-label">Annee</label>
        <div id="anneeControls" class="col-sm-10">
            <input id="annee" name="annee" type="text"class="form-control" ng-model="exercice.annee" placeholder="Enter the Exercice Annee"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ExerciceForm.theme.$invalid}">
        <label for="theme" class="col-sm-2 control-label">Theme</label>
        <div id="themeControls" class="col-sm-10">
            <textarea id="theme" name="theme" type="text" ng-maxlength="20000"class="form-control" ng-model="exercice.theme" placeholder="Enter the Exercice Theme"></textarea>
            <span class="help-block error" ng-show="ExerciceForm.theme.$error.maxlength">maximum length is 20000</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveExercice" name="saveExercice" class="btn btn-primary" ng-disabled="isClean() || ExerciceForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteExercice" name="deleteExercice" class="btn btn-danger" ng-show="exercice.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>