<div class="form-horizontal">
    <h3>Create a new Exercice</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Exercices/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Exercices</h3>
    <form id="ExerciceSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="annee" class="col-sm-2 control-label">Annee</label>
        <div class="col-sm-10">
            <input id="annee" name="annee" class="form-control" type="text" ng-model="search.annee" placeholder="Enter the Exercice Annee"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="theme" class="col-sm-2 control-label">Theme</label>
        <div class="col-sm-10">
            <input id="theme" name="theme" class="form-control" type="text" ng-model="search.theme" placeholder="Enter the Exercice Theme"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Annee</th>
                    <th>Theme</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Exercices/edit/{{result.id}}">{{result.annee}}</a></td>
                    <td><a href="#/Exercices/edit/{{result.id}}">{{result.theme}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>