<header ng-switch
	on="$location.path().indexOf('/Utilisateurs/new') > -1">
	<h3 ng-switch-when="true">Create a new Utilisateur</h3>
	<h3 ng-switch-when="false">View or edit Utilisateur</h3>
</header>
<form id="UtilisateurForm" name="UtilisateurForm"
	class="form-horizontal" role="form">
	<div ng-show="displayError" class="alert alert-danger">
		<strong>Error!</strong> Something broke. Retry, or cancel and start
		afresh.
	</div>


	<div class="form-group"
		ng-class="{'has-error': UtilisateurForm.nom.$invalid}">
		<label for="nom" class="col-sm-2 control-label">Nom</label>
		<div id="nomControls" class="col-sm-10">
			<input id="nom" name="nom" type="text" class="form-control"
				ng-model="utilisateur.nom" placeholder="Enter the Utilisateur Nom"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': UtilisateurForm.pseudo.$invalid}">
		<label for="pseudo" class="col-sm-2 control-label">Pseudo</label>
		<div id="pseudoControls" class="col-sm-10">
			<input id="pseudo" name="pseudo" type="text" class="form-control"
				ng-model="utilisateur.pseudo"
				placeholder="Enter the Utilisateur Pseudo"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': UtilisateurForm.password.$invalid}">
		<label for="password" class="col-sm-2 control-label">Password</label>
		<div id="passwordControls" class="col-sm-10">
			<input id="password" name="password" type="text" class="form-control"
				ng-model="utilisateur.password"
				placeholder="Enter the Utilisateur Password"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': UtilisateurForm.email.$invalid}">
		<label for="email" class="col-sm-2 control-label">Email</label>
		<div id="emailControls" class="col-sm-10">
			<input id="email" name="email" type="text" class="form-control"
				ng-model="utilisateur.email"
				placeholder="Enter the Utilisateur Email"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': UtilisateurForm.mtn.$invalid}">
		<label for="mtn" class="col-sm-2 control-label">Mtn</label>
		<div id="mtnControls" class="col-sm-10">
			<input id="mtn" name="mtn" type="text" class="form-control"
				ng-model="utilisateur.mtn" placeholder="Enter the Utilisateur Mtn"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': UtilisateurForm.orange.$invalid}">
		<label for="orange" class="col-sm-2 control-label">Orange</label>
		<div id="orangeControls" class="col-sm-10">
			<input id="orange" name="orange" type="text" class="form-control"
				ng-model="utilisateur.orange"
				placeholder="Enter the Utilisateur Orange"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': UtilisateurForm.sexe.$invalid}">
		<label for="sexe" class="col-sm-2 control-label">Sexe</label>
		<div id="sexeControls" class="col-sm-10">

			<input id="sexe" name="sexe" type="text" class="form-control"
				ng-model="utilisateur.sexe" placeholder="Enter the Utilisateur Sexe"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': UtilisateurForm.dateNaissance.$invalid}">
		<label for="dateNaissance" class="col-sm-2 control-label">Date
			Naissance</label>
		<div id="dateNaissanceControls" class="col-sm-10">
			
				<input id="dateNaissance" name="dateNaissance" type="text" class="form-control" ng-model="utilisateur.dateNaissance"
					placeholder="Enter the Utilisateur Date Naissance">
				</input>
			
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': UtilisateurForm.poste.$invalid}">
		<label for="poste" class="col-sm-2 control-label">Poste</label>
		<div id="posteControls" class="col-sm-10">
			<select id="poste" name="poste" class="form-control"
				ng-model="posteSelection"
				ng-options="p.text for p in posteSelectionList">
				<option value="">Choose a Poste</option>
			</select>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': UtilisateurForm.agence.$invalid}">
		<label for="agence" class="col-sm-2 control-label">Agence</label>
		<div id="agenceControls" class="col-sm-10">
			<select id="agence" name="agence" class="form-control"
				ng-model="agenceSelection"
				ng-options="a.text for a in agenceSelectionList">
				<option value="">Choose a Agence</option>
			</select>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': UtilisateurForm.exercice.$invalid}">
		<label for="exercice" class="col-sm-2 control-label">Exercice</label>
		<div id="exerciceControls" class="col-sm-10">
			<select id="exercice" name="exercice" class="form-control"
				ng-model="exerciceSelection"
				ng-options="e.text for e in exerciceSelectionList">
				<option value="">Choose a Exercice</option>
			</select>
		</div>
	</div>


	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="saveUtilisateur" name="saveUtilisateur"
				class="btn btn-primary"
				ng-disabled="isClean() || UtilisateurForm.$invalid"
				ng-click="save()">
				<span class="glyphicon glyphicon-ok-sign"></span> Save
			</button>
			<button id="cancel" name="cancel" class="btn btn-default"
				ng-click="cancel()">
				<span class="glyphicon glyphicon-remove-sign"></span> Cancel
			</button>
			<button id="deleteUtilisateur" name="deleteUtilisateur"
				class="btn btn-danger" ng-show="utilisateur.id" ng-click="remove()">
				<span class="glyphicon glyphicon-trash"></span> Delete
			</button>
		</div>
	</div>
</form>