<header ng-switch on="$location.path().indexOf('/Primes/new') > -1">
    <h3 ng-switch-when="true">Create a new Prime</h3>
    <h3 ng-switch-when="false">View or edit Prime</h3>
</header>
<form id="PrimeForm" name="PrimeForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': PrimeForm.nomPrime.$invalid}">
        <label for="nomPrime" class="col-sm-2 control-label">Nom Prime</label>
        <div id="nomPrimeControls" class="col-sm-10">
            <input id="nomPrime" name="nomPrime" type="text"class="form-control" ng-model="prime.nomPrime" placeholder="Enter the Prime Nom Prime"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PrimeForm.description.$invalid}">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div id="descriptionControls" class="col-sm-10">
            <input id="description" name="description" type="text" ng-maxlength="20000"class="form-control" ng-model="prime.description" placeholder="Enter the Prime Description"></input>
            <span class="help-block error" ng-show="PrimeForm.description.$error.maxlength">maximum length is 20000</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="savePrime" name="savePrime" class="btn btn-primary" ng-disabled="isClean() || PrimeForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deletePrime" name="deletePrime" class="btn btn-danger" ng-show="prime.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>