<!DOCTYPE html>
<html lang="fr" ng-app="ordyeducationui">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link href="resources/css/bootstrap.css" rel="stylesheet">
<link href="resources/css/bootstrap-theme.css" rel="stylesheet">

<title>Se Connecter</title>
</head>
<style type="text/css">
body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #E9E9E9;
}

.form-signin {
	max-width: 450px;
	padding: 19px 29px 29px;
	margin: 8% auto 20px;
	background-color: #fff;
	background-attachment: fixed;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin input[type="text"],.form-signin input[type="password"] {
	font-size: 13px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}
</style>
<body>
	<div ng-controller="UtilisateurController">
		<form class="form-signin">

			<center>
				<img src="img/logo.png" />
				<h2 class="form-signin-heading">Espace de Connexion</h2>

          
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>Utilisateur:</td>
						<td><input type="text" id="pseudo" name="pseudo" ng-model="utilisateur.pseudo" required="true" /></td>
					</tr>
					<tr>
						<td>Mot de passe:</td>
						<td><input type="password" id="password" name="password"  ng-model="utilisateur.password" required="true" /></td>
					</tr>
					<br>
					<tr>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<td>
									<button type="submit" class="btn-success"  ng-click="utilisateur.login()">Se Connecter</button>
								
								</td>
								<td>
									<button type="reset" class="btn-success">Annuler</button>
								</td>
							</div>
						</div>
					</tr>

				</table>
			</center>
		</form>
		
		 <script src="scripts/vendor/modernizr-2.8.3.min.js"></script>
    <script src="scripts/vendor/jquery-2.0.3.js"></script>
    <script src="scripts/vendor/bootstrap.js"></script>
    <script src="scripts/vendor/angular.js"></script>
    <script src="scripts/vendor/angular-route.js"></script>
    <script src="scripts/vendor/angular-resource.js"></script>
    <script src="scripts/app.js"></script>
    
     <script src="scripts/services/UtilisateurFactory.js"></script>
      <script src="scripts/controllers/utilisateurController.js"></script>
</body>
</html>
