<div class="form-horizontal">
    <h3>Create a new Message</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Messages/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Messages</h3>
    <form id="MessageSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="recepteur" class="col-sm-2 control-label">Recepteur</label>
        <div class="col-sm-10">
            <input id="recepteur" name="recepteur" class="form-control" type="text" ng-model="search.recepteur" placeholder="Enter the Message Recepteur"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
            <input id="message" name="message" class="form-control" type="text" ng-model="search.message" placeholder="Enter the Message Message"></input>
        </div>
    </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Recepteur</th>
                    <th>Message</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Messages/edit/{{result.id}}">{{result.recepteur}}</a></td>
                    <td><a href="#/Messages/edit/{{result.id}}">{{result.message}}</a></td>
                    <td><a href="#/Messages/edit/{{result.id}}">{{result.createdAt| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>